/* NavBar.module.css */
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-color); 
    text-align: center;
    height: 80px;
}

.logo {
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.5em;
}
  
  
.footer {
    background-color: var(--black-color); 
    color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 1.5;
}

.socialIcon {
    margin: 0 0.5rem; 
    font-size: 2.4rem; 
    color: var(--primary-color);
}
.socialLinks{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 0 3rem;
}
.label {
    font-size: 1.2rem;
    margin-right: 10px; 
    color: var(--primary-color); 
}
.team{
    font-size: 1.2rem;
    justify-content: flex-end;
    padding-right: 3rem;
}
@media (min-width: 1024px) {

    
    .logo {
        font-size: 2em;
    }
      
      

    .socialLinks{
        padding: 5rem;
    }
    .socialIcon {
        margin: 0 1rem; 
    }
    .label {
        margin-right: 2rem; 
    }
    .team{
        padding-right: 6rem;
    }
}