.title{
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 1rem;
}

.subtitle{
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 1.8rem 0;
}

.paragraph{
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 1.8rem;

}

.maintitle {
    font-size: 4.8rem;
    font-weight: 600;
    padding-bottom: 0.8rem;
}

.mainparagraph {
    font-size: 1.8rem;
    font-weight: 200;
    padding-top: 1rem;
}

.english {
    font-family: "Abril Fatface", "Nanum Square", serif;
    font-weight: 500;
}

@media (min-width: 1024px) {
    .title{
        font-size: 4rem;
        font-weight: 900;
        padding-bottom: 2rem;
    }

    .subtitle{
        font-size: 2rem;
        font-weight: 900;
        padding: 2rem 0;
    }

    .paragraph{
        font-size: 1.8rem;
        font-weight: 600;
        padding: 1.8rem ;
    }

    .maintitle {
        font-size: 4.4rem;
        font-weight: 900;
        padding-bottom: 1.6rem;
    }

    .mainparagraph {
        font-size: 2rem;
        font-weight: 500;
    }
}