.title{
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 1rem;
}

.subtitle{
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 1.8rem;

}

.paragraph{
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.maintitle {
    font-size: 4.8rem;
    font-weight: 600;
    padding-bottom: 0.8rem;
}

.mainparagraph {
    font-size: 1.8rem;
    font-weight: 200;
    padding-top: 1rem;
}