
.resultContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 5rem auto;
}
.resultCard {
    background-color: var(--primary-color);
    border-radius: 2rem; 
    text-align: center;
    margin: 2rem auto;
    max-width: 30rem; 
}

.resultContent{
    background-color: var(--highlight-pink);
}
.resultCard img {
    width: 100%; 
    height: auto;
    border-radius: 2rem 2rem 0 0;
}

.resultBtn{
    display: flex;
    justify-content: center;
    text-decoration: none; 
}
  

  
  .keywords {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: 1rem;
    padding: 1.2rem 0;
  }
  
  .keyword {
    background-color: var(--highlight-yellow);
    color: var(--black-color);
    font-weight: 800;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 1.2rem;
  }


  .candidatesContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
  }

  .imageComponent{
    text-align: center;
    width: 40%;
    max-width: 30rem; 
}
.imageComponent img {
    width: 100%; 
    height: auto; 
    border-radius: 1rem; 
}

@media (min-width: 1024px) {
  .resultContainer {
    width: 70%;
  }
  .resultCard {
    max-width: 40rem;
  }
  .result-description {
    font-size: 4rem;
  }
  .keyword{
    font-size: 1.8rem;
  }
  /* .resultFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } */
  .resultFooter {
    display: flex;
    justify-content: center; 
    width: 100%; 
    gap: 20px; 
    padding-top: 2rem;
}
  .keywords_wrap, .candidates_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}